#bigblue{
	background-color: skyblue;
	width: 60%;
	height: 500px;
	margin-left:20%;
	margin-top: 4%;
}
 #smallblue
 { 
 	background-color: skyblue;
 	width: 19.8%; 
 	height: 200px;
 	margin-top: 1%;
 	
 	float: left;
 }
footer
{
	background-color: grey;
	width:100%;
	clear: both;                                              

}
#header
{
	background-color:grey;
	width: 100%;
	height: 30px;

	

}
#home
{ background-color: grey;
	color:white;
	float: left;
	height: 35px;
	
	margin-top:-0.5;


}
li
{ 
	display:inline;
	margin-right: 50px;
	float: right; 
	color: white;
}
#leftbox

{ margin-left:1000px;
	background-color: pink;
	height: 200px;
	width: 40%;
	margin-top: -80%;
}
#leftbox2
{ 
  margin-left:1000px;
	background-color:lightblue;
	height: 200px;
	width: 40%;
	margin-top: 0.5%;

}
 
 #text
 {  
 	text-align: center;

 	width: 60%;

 }
 #ourservices
 {
 	background-color: white;
 	color: black;
 	width: 100%;
 	height: 30%;
 	
 	margin-left: 15%;
 	
 	

 }
 #bluebox
 {
 	background-color: blue;
 	height:60%;
 	width: 1%;
 	padding: 10%;
 	float: left;
 	margin-left:3%;
 	margin-top: 1%
 }
#afterblue
{
	margin-top: -10%;
	color: black;
	margin-top: 6%;
	float: left;
	margin-left:13%;
}
#bigtext
{ margin-top: 8%;
	color: black;
	margin-left: 15%;


}
#footerbox
{
	background-color: grey;
	color:black;
	
}
 	
 	


 
 